@font-face {
    font-family: Caveat;
    src: url(fonts/Caveat.ttf);
}
@font-face {
    font-family: exo2;
    src: url(fonts/exo2.ttf);
}
@font-face {
    font-family: terminal;
    src: url(fonts/Terminal.TTF);
}


body {
    background-color: rgb(43, 44, 44);
    overflow: hidden;
    margin: 0 0 0 0;
}

/*Меню*/
.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    margin-top: 0;
}
.menu_open {margin-top: -100vh;}
.menu_logo {
    font-family: Caveat;
    font-size: 7vw;
    background-image: -webkit-linear-gradient(45deg, #1153d6 22%, #48bbf0 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    margin: 0;
    padding-right: 1%;
}
.menu_logo_bt {
    margin: 0 0 0 0;
    font-family: exo2;
    font-size: 6vw;
    margin-left: 16vw;
    margin-top: -3vw;
    background-image: -webkit-linear-gradient(45deg, #453db6 32%, #6b3db6 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu_start {
    width: 10vw;
    height: 5vw;
    margin-top: 5vw;
    cursor: pointer;
    background-color: rgb(147, 153, 155);
    font-family: terminal;
    font-weight: 400;
    font-size: 2vw;
    border: rgb(102, 102, 102) solid;
    border-width: 0 .4vw .4vw 0;
    box-sizing: border-box;
}
.menu_start:hover {border: none;}
.menu_start:focus {background-color: rgb(81, 84, 87);}

/*Передвиж*/

.scroller {
    width: 300vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    justify-content: space-between;
}
.scroller_button {
    width: 6vw;
    height: 10vw;
    border: #a8a8a8 solid .5vw;
    background-image: url(images/arrow.png);
    background-size: 40% 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 27vw;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}
.scroller_button:hover {
    background-color: rgba(68, 68, 68, 0.2);
}
.sb_right {
    transform: rotate(180deg);
    margin-left: 93vw;
}



/*Блокнот*/
.notepad_table {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image: url(images/table.png);
    background-size: 100%;
    overflow-y: scroll;
}
.notepad_table::-webkit-scrollbar {display: none;}
.notepad {
    background-image: url(images/notepad.png);
    background-size: 100%;
    width: 60%;
    height: fit-content;
    margin-top: 5vw;
    box-shadow: 0px 0px 3vw 2vw rgba(0, 0, 0, 0.5);
}
.notepad h2 {
    font-family: Caveat;
    padding-left: 6vw;
    font-size: 2.5vw;
    font-weight: 500;
    line-height: 92.3%;
    margin-top: 2.5vw;
}


/*Панель управления*/

.control_panel {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 54%;
    grid-template-rows: 46% 46%;
    justify-content: space-evenly;
    align-content: space-evenly;
    background-image: url(images/control_panel.png);
    background-size: 100% 100%;
}
.polarization_display {
    background-image: url(images/control_plate.png);
    background-size: 100% 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 1.5vw .05vw;
}
.polarization_control {
    background-image: url(images/control_plate.png);
    background-size: 100% 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 1.5vw .05vw;
}
.filter_display {
    background-image: url(images/control_plate.png);
    background-size: 100% 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 1.5vw .05vw;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 1.5vw .05vw;
}
#filterDisplay {
    width: 120%;
    height: 100%;
}
.filter_control {
    background-image: url(images/control_plate.png);
    background-size: 100% 100%;
    padding: 3vw;
    display: grid;
    grid-template-areas: "title title"
                         "sliders accuracy";
    grid-template-columns: 54% 44%;
    justify-content: space-between;
}
.filter_circle {
    width: 30vw;
    height: 22vw;
    border: rgb(11, 10, 12) solid .7vw;
    border-radius: 4vw;
    overflow: hidden;
    background-image: url(images/oscilloscope.png);
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 4vw .1vw;
}
.filter_control h1 {
    margin: 0;
    font-family: terminal;
    font-weight: 400;
    font-size: 2.5vw;
    margin-left: 5vw;
    grid-area: title;
    line-height: .4vw;
}
.filter_control h2 {
    margin: 0;
    font-family: terminal;
    font-weight: 400;
    font-size: 1.5vw;
    margin-top: 3vw;
}
.filter_accuracy {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}
.filter_lamp {
    width: 50%;
    height: 90%;
    background-image: url(images/control_panel_shadow.png);
    background-size: 100% 100%;
    background-color: rgb(66, 34, 34);
    border: rgb(17, 17, 17) solid .5vw;
    border-radius: .5vw;
    box-shadow: rgba(0, 0, 0, 0.6) 0 0 2vw .05vw;
}
.filter_flare {
    width: 15vw;
    height: 29vw;
    background-image: url(images/yellow_flare.png);
    background-size: 100% 100%;
    position: absolute;
    margin-top: -6vw;
    margin-left: -10vw;
    display: none;
}
.filter_flarer {
    margin-left: 11vw;
    background-image: url(images/green_flare.png);
}
.yellowLamp {background-color: rgb(221, 194, 74);}
.greenLamp {background-color: rgb(51, 218, 60);}
.filter_number {
    width: 50%;
    height: 90%;
    background-image: url(images/control_panel_shadow.png);
    background-size: 100% 100%;
    background-color: rgb(34, 53, 34);
    border: rgb(17, 17, 17) solid .5vw;
    border-radius: .5vw;
    box-shadow: rgba(0, 0, 0, 0.6) 0 0 2vw .05vw;
    color: rgb(155, 155, 155);
    font-family: terminal;
    font-size: 1.9vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


input[type=range].filter_slider {
    width: 100%;
    margin: -.2vw 0;
    background-color: transparent;
    -webkit-appearance: none;
    margin-top: 1vw;
  }
  input[type=range].filter_slider::-webkit-slider-runnable-track {
    background: rgba(16, 16, 19, 0.9);
    border: .4vw solid rgba(16, 16, 19, 0.9);
    width: 100%;
    height: 2vw;
    cursor: pointer;
  }
  input[type=range].filter_slider::-webkit-slider-thumb {
    margin-top: -.15vw;
    width: 1.5vw;
    height: 1.5vw;
    background: #707170;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range].filter_slider::-moz-range-track {
    background: rgba(0, 0, 0, 0.9);
    border: .2vw solid #010101;
    width: 100%;
    height: 2.2vw;
    cursor: pointer;
  }
  input[type=range].filter_slider::-moz-range-thumb {
    width: 1vw;
    height: 1vw;
    background: #707170;
    cursor: pointer;
  }
  input[type=range].filter_slider::-ms-track {
    width: 100%;
    height: 2.2vw;
    cursor: pointer;
}
input[type=range].filter_slider::-ms-fill-lower {
    background: #000000;
    border: .2vw solid #010101;
}
input[type=range].filter_slider::-ms-fill-upper {
    background: rgba(0, 0, 0, 0.9);
    border: .2vw solid #010101;
}
input[type=range].filter_slider::-ms-thumb {
    width: 1vw;
    height: 1vw;
    background: #707170;
    cursor: pointer;
}
  